body {
    margin: 0;
    background: linear-gradient(135deg, #e23854 0%, #ffc3a0 100%);
    font-family: 'Arial', sans-serif;
}


.flex-container {
    /* Use flexbox properties to stack your tiles vertically and center them */
    display: flex;
    flex-direction: column;
    align-items: center;

}

.flex-tile {
    /* Use flexbox properties to stack elements in your tiles vertically and center them */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
   
    width: 40%;

    /* spacing tiles */
    margin: 5%;
    padding: 150px;

    background-color: rgb(226, 171, 171);
}

.img{
    scale: 5%;
}

h1{
    animation: textcolor 5s infinite;
}

h2{
    animation: textcolor 5s infinite;
}

h3{
    animation: textcolor 5s infinite;
}

.btn1{
    display: block;
    padding: 15px 30px;
    margin: 5% auto;
    width: 100px;
    border: 3px solid #e23854;
    border-radius: 10px;
    color: white;
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.btn1:hover{
    background: rgb(161, 12, 12);
    color: white;
    border: rgb(49, 6, 6);
    font-size: 15px;
}

.btn1:active{
    transform: scale(0.5, 0.5);
}

.btn2{
    display: block;
    padding: 15px 30px;
    margin: 5% auto;
    width: 100px;
    border: 3px solid #e23854;
    border-radius: 10px;
    color: white;
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.btn2:hover{
    background: rgb(161, 12, 12);
    color: white;
    border: rgb(49, 6, 6);
    font-size: 15px;
}

.btn2:active{
    transform: scale(0.5, 0.5);
}

.btn3{
    display: block;
    padding: 15px 30px;
    margin: 5% auto;
    width: 100px;
    border: 3px solid #e23854;
    border-radius: 10px;
    color: white;
    background-color: lightcoral;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.btn3:hover{
    background: rgb(161, 12, 12);
    color: white;
    border: rgb(49, 6, 6);
    font-size: 15px;
}

.btn3:active{
    transform: scale(0.5, 0.5);
}

@keyframes textcolor{
    0%{
        color: black;
    }
    50%{
        color: #e23854;
    }
    100%{
        color: black;
    }
}